{{ partial "header.html" . }}

<img src="/images/pages/features-hero.png" />
<a href="https://www.artstation.com/aweand">Art by Albert Weand</a>

<ul>
    <li>No trials.</li>
    <li>No subscriptions.  </li>
    <li>No limit to your creativity.</li>
</ul>



<h2>Clean and Flexible Interface</h2>

<img src="/images/pages/krita-ui-40.png" />

<p>https://www.behance.net/gallery/75168879/Scales-Scoundrels-Comic</p>

<p>An intuitive user interface that stays out of your way. The dockers and panels can be moved and customized for your specific workflow. Once you have your setup, you can save it as your own workspace. You can also create your own shortcuts for commonly used tools.</p>

<ul>
    <li>Customizable Layout</li>
    <li>Over 30 dockers for additional functionality</li>
    <li>Dark and light color themes</li>
</ul>


{{ .Content }}

{{ partial "footer.html" . }}