{{ partial "header.html" . }}

!default LIST template!

<h1>{{ i18n "navigation.recent_posts" }}</h1>

{{ .Content }}

<div class="posts-listing">
  {{ range .Pages  }}



      <a class="card" href="{{ .RelPermalink }}">
        <article class="post-snippet preview">



          <span class="section">
            <h2>{{ .Title }}</h2>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "January 2, 2006" }} 
            <span style="margin-left: 1rem">{{ .ReadingTime }} minute read</span>
            </time>

            <p>{{ .Summary }}</p>

          </span>

        </article>
      </a>



  {{ end }}

</div>



{{ partial "footer.html" . }}
