{{ partial "header.html" . }}

<img src="{{ .Site.BaseURL }}/images/hero-image-50.png" />


<h2>{{ i18n "home.news" }}</h2>

<a href="{{.Permalink}}/posts/">See All</a>


{{ range  ( where .Site.RegularPages "Type" "posts" ) | first 5 }}
    <a href="{{.Permalink}}" style="display: block">{{ .Title }}</a>
{{ end }}


{{/* This ugly piece of code looks to see if there are 0 posts for the language */}}
{{ if eq  (len (where .Site.RegularPages "Type" "posts"))  0 }}
{{ i18n "home.no-news" }}
{{ end }}

{{ .Content }}


{{ partial "footer.html" . }}